<% if post_recipe.kept_by?(current_user) %>
    <p>
      <%= link_to post_recipe_keeps_path(post_recipe), method: :delete do %>
        ♥<%= post_recipe.keeps.count %> 保存を外す
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to post_recipe_keeps_path(post_recipe), method: :post do %>
        ♡<%= post_recipe.keeps.count %> 保存
      <% end %>
    </p>
  <% end %>