<div class="nested-fields">
  <div>
   <%= procedure.text_field :body, placeholder:"手順を記入" %>
  <div>
     <%= link_to_remove_association "削除", procedure, class: 'mr-5 btn btn-sm btn-danger text-white' %>
    </div>
  </div>
</div>