投稿一覧


<div>
  <% @post_recipes.each do |post_recipe| %>

    <div>
      <%= image_tag post_recipe.get_image %>
    </div>

    <div>
      <%= post_recipe.user.name %>
    </div>

  <% end %>
</div>