<p>jQuery稼働テスト</p>
<script type="text/javascript">
  $(document).ready(function() {
    $("p").text("jQuery稼働テスト(稼働中)");
  });
</script>
新着投稿一覧

<% @post_recipes.each do |post_recipe| %>
  <div class="m-5">
    <div><%= image_tag post_recipe.get_image(300, 300) %></div>
    <div><%= post_recipe.user.name %></div>
  </div>
<% end %>